dy{


}

#bottomSection {
    background-color: rgb(202, 202, 176);
    padding: 20px;
}

h3 {
    text-align: center;
}

.bottomSectionH2 {
    text-align: center;
}

img {
    border-radius: 15px;
}

#topSection {
    margin: 30px;
}